<footer class="site-footer">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <p>Copyright &copy; 2015. All rights reserved</p>
            </div>
            <div class="col-md-6 col-sm-6">
                <ul class="footer-menu">
                    <li><a href="page_changelog.html">Changelog</a></li>
                    <li><a href="page_credits.html">Credits</a></li>
                    <li><a href="mailto:support@shamsoft.net">Contact us</a></li>
                </ul>
          </div>
        </div>
    </div>

</footer>

<script src="{{ "/js/jquery.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/metisMenu.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>