{% assign previous_first_level_title = "" %}
{% assign previous_second_level_title = "" %}
{% assign depth_level = 5 %}
{% assign site_pages = site.pages | sort: "path" %}

<ul class="metismenu">
  {% for node in site_pages %}
    {% assign dir_parts = node.dir | replace: "%20", " " | split: "/" %}
    {% if (dir_parts.size == depth_level) and (dir_parts[1] == "_pages") and (dir_parts[2] == "Core syllabus content") %}
      {% assign current_first_level_title = dir_parts[3] %}
      {% assign current_second_level_title = dir_parts[4] %}
      {% if (current_first_level_title != previous_first_level_title) or (current_second_level_title != previous_second_level_title) %}

        {% if current_first_level_title != previous_first_level_title%}
          {%if previous_first_level_title != "" %}
              </ul>
            </ul>
          </li>
          {% endif %}
          <li><a href="#">{{current_first_level_title}}</a>
            <ul aria-expanded="false">
            <ul class="ignore">

        {% endif %}

        {% if current_second_level_title != previous_second_level_title %}
            
            </ul>
          </li>

          <li><a href="#" aria-expanded="false">{{current_second_level_title}}</a>
            <ul aria-expanded="false">
        {% endif %}

        {% assign previous_first_level_title = current_first_level_title %}
        {% assign previous_second_level_title = current_second_level_title %}
      {% endif %}
      {% assign directory = node.dir | split:'/' | last | replace: "%20", " " %}
      <li><a href="{{node.url}}">{{node.title}}<!--{{ node.url | split: "/" | last | replace: "%20", " " | replace: ".html", "" }}--></a></li>
    {% endif %}
  {% endfor %}
</ul>
