{% assign previous_first_level_title = "" %}
{% assign depth_level = 5 %}
{% assign toc_uri = "/_pages/Resources/Table%20of%20contents.html" %}
{% assign site_pages = site.pages | sort:"path" %}

{% for node in site_pages %}
  {% assign dir_parts = node.dir | replace: "%20", " " | split: "/" %}
  {% if (dir_parts.size == depth_level) and (dir_parts[1] == "_pages") and (dir_parts[2] == "Core syllabus content") %}
    {% assign current_first_level_title = dir_parts[3] %}
    {% if (current_first_level_title != previous_first_level_title) %}
      <a class="page-link" href="{{current_first_level_title|replace:' ','-'|prepend:'#'|prepend:toc_uri|prepend:site.baseurl}}">{{current_first_level_title}}</a>
      {% assign previous_first_level_title = current_first_level_title %}
    {% endif %}
    {% assign directory = node.dir | split:'/' | last | replace: "%20", " " %}
  {% endif %}
{% endfor %}
